@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

header {
    display: grid;
    grid-column: 1/6;
    grid-row: 1/3;

}

:root {
    --primary-color:#094074;
    --secondary-color:#FFDD4A ;
    --accent1-color: #5ADBFF;
    --accent2-color:#3C6997;
  
    --heading-font: 'Bebas Neue', serif;
    --paragraph-font: 'Inter', serif;
  
    --nav-background-color:#3C6997;
    --nav-link-color: #094074;
    --nav-hover-link-color: #FFDD4A;
    --nav-hover-background-color: #5ADBFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Bebas Neue;
    color: var(--primary-color);
}

p {
  padding: 20px;
  font-family: Inter;
}


nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
  
nav a {
    display: block;
    color: var(--nav-link-color);
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
    text-decoration: none;
}
  
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
